<link rel="stylesheet" href="/styles/filesContainer.css">
<section class="files-main-preview">
    <sl-breadcrumb>
        <sl-breadcrumb-item href="/folders"><%= user.username %></sl-breadcrumb-item>
    </sl-breadcrumb>

    <div class="grid-header">
        <a>Name</a>
        <a>Size</a>
        <a>Created</a>
    </div>

    <div class="files-container">
        <% userFiles.forEach((file) => { %>
            <div class="file">
                <span><%= file.name %></span>
                <span><%= file.size %></span>
                <span>
                <%= file.uploadedAt.toLocaleDateString("en-us", { 
                    month: "short",
                    day: "numeric",
                    year: "numeric",
                }) %>
                </span>
            </div>
            <sl-drawer label="File Information">
                <div class="drawer-info">
                    <span><b>Name: </b><%= file.name %></span>
                    <span><b>Size: </b><%= file.size %></span>
                    <span><b>Created: </b>
                        <%= file.uploadedAt.toLocaleDateString("en-us", { 
                            month: "short",
                            day: "numeric",
                            year: "numeric",
                        }) %>
                    </span>
                </div>

                <sl-button slot="footer" variant="primary">Close</sl-button>
            </sl-drawer>
        <% }) %>
    </div>
</section>