<link rel="stylesheet" href="/styles/filesContainer.css">
<section class="files-main-preview">
    <sl-breadcrumb>
        <sl-breadcrumb-item href="/folders"><%= user.username %></sl-breadcrumb-item>
        <% breadcrumbFolders.reverse().forEach((folder) => { %>
            <sl-breadcrumb-item href="/folders/<%= folder.id %>"><%= folder.name %></sl-breadcrumb-item>
        <% }) %>
    </sl-breadcrumb>

    <div class="grid-header">
        <a>Name</a>
        <a>Size</a>
        <a>Created</a>
    </div>

    <% if(subfolders.length == 0 && userFiles.length == 0) { %>
        <div class="empty-preview">
            No files or folders to display.
        </div>
    <% } %>

    <div class="files-container">
        <% subfolders.forEach((subfolder) => { %>
            <a class="file" href="/folders/<%= subfolder.id %>">
                <span><sl-icon name="folder"></sl-icon> <%= subfolder.name %></span>
                <span> -- </span>
                <span>
                <%= subfolder.createdAt.toLocaleDateString("en-us", { 
                    month: "short",
                    day: "numeric", 
                    year: "numeric",
                }) %>
                </span>
            </a>
        <% }) %>
        <% userFiles.forEach((file) => { %>
            <div class="file">
                <span><sl-icon name="file-earmark"></sl-icon> <%= file.name %></span>
                <span><%= file.size %></span>
                <span>
                <%= file.uploadedAt.toLocaleDateString("en-us", { 
                    month: "short",
                    day: "numeric",
                    year: "numeric",
                }) %>
                </span>
            </div>
            <sl-drawer label="File Information">
                <div class="drawer-info">
                    <span><b>Name: </b><%= file.name %></span>
                    <span><b>Size: </b><%= file.size %></span>
                    <span><b>Created: </b>
                        <%= file.uploadedAt.toLocaleDateString("en-us", { 
                            month: "short",
                            day: "numeric",
                            year: "numeric",
                        }) %>
                    </span>
                </div>

                <sl-button slot="footer" class="drawer-close-button">Close</sl-button>
                <sl-button slot="footer" class="drawer-share-button">Share</sl-button>
                <sl-button slot="footer" class="drawer-delete-button" href="/files/delete/<%= file.id %>">Delete</sl-button>
                <sl-button 
                slot="footer" 
                class="drawer-download-button" 
                variant="primary"
                href="<%= file.url %>?download"
                target="_blank">
                    Download
                </sl-button>
            </sl-drawer>
        <% }) %>
    </div>
</section>