<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <%- include("./partials/header") %>
    <script type="module" src="/js/folderFileModal.js" defer></script>
    <script type="module" src="/js/fileDrawer.js" defer></script>
    <script type="module" src="/js/showAlert.js" defer></script>
</head>
<body>
    <div class="sl-alert-container">
    </div>

    <%- include("partials/navbar") %>
    <main class="index-container">
        <%- include("./partials/sidebar") %>
        <%- include("./partials/folderFileModal") %> 

        <%- include("./partials/filesContainer") %>
    </main>
</body>
</html>